{
    "rules": {
        "indent": [1, 2],
        "no-extra-boolean-cast": [1],
        "no-empty": [1],
        "no-console": [0],
        "comma-dangle": [1],
        "no-unused-vars": [1, {"vars": "all", "args": "none"}],
        "linebreak-style": [2, "unix"],
        "semi": [1, "always"]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "commonjs": true,
        "mocha": "true"
    },
    "globals": {
      "$": true,
      "Stripe",
      "StripeCheckout"
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "plugins": [
        "react"
    ]
}