.additional-info-container {
  .additional-info-page {
    margin: 0 auto;
    border-radius: 6px;
    max-width: 420px;
    width: 100%;
    text-align: center;
    background: #EAEFF2;
    .donate-now-header {
      width: 225px;
    }
    .container {
      display: inline-block;
      text-align: left;
      padding: 30px;
    }
    .heart-image {
      margin-bottom: 32px;
    }
    .additional-page {
      background: transparent;
      font-size: 20px;
      font-color: #333333;
      line-height: 1.4;
      height: auto;
    }
    .mozilla-watermark {
      height: 40px;
      width: 148px;
      display: inline-block;
      margin: 0 8px -2px 0;
    }
  }
  footer {
    padding: 40px 0;
  }
  .footer {
    max-width: 420px;
    padding: 0 15px;
    .half {
      width: 75%;
      padding-right: 35px;
      margin-right: 0px;
    }
  }
  .footer,
  .disclaimers {
    margin: 30px auto 0;
  }
  .disclaimers {
    background-color: #CECCCA;
    border-radius: 6px;
    padding: 0 20px;
  }
  .disclaimers {
    text-align: left;
    max-width: 420px;
    .other-ways-to-give,
    .need-help,
    .donation-notice,
    .stripe-notice {
      width: 100%;
      text-align: left;
      margin-left: auto;
    }
  }
  @media screen and (min-width: 840px) {
    .additional-info-page {
      margin-top: 60px;
      max-width: 840px;
    }
    .footer {
      width: 100%;
      max-width: 840px;
      padding: 0 25px;
    }
    .additional-page {
      min-height: 481px;
    }
    .disclaimers {
      max-width: 840px;
      padding: 0 30px;
    }
    .disclaimers {
      .other-ways-to-give,
      .need-help,
      .donation-notice,
      .stripe-notice {
        max-width: 840px;
        margin-left: 0;
      }
    }
  }
}
