.amount-buttons {
  .amount-other-container {
    position: relative;
    input[name="donation_amount"] + label {
      padding: 5px 0;
      background-color: #EAEFF2;
    }
    input[name="donation_amount"] + label:hover {
      background: #43A6E2; /* Mozilla Button color */
      color: #fff;
    }
    input[name="donation_amount"]:checked + label {
      background: #0095DD;
    }
  }

  .donation-amount-row {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .currency-symbol-container {
    width: 60px;
    text-align: center;
    display: block;
  }

  .amount-radio + label {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .amount-radio + label {
    background-color: #A7AAB3;
    color: rgb(255, 255, 255);
  }
  .amount-radio + label:hover {
    background-color: #B3B6BF;
  }

  .amount-radio:checked + label {
    background-color: #49AFFD;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  }

  .amount-other-wrapper {
    position: absolute;
    top: 3px;
    left: 60px;
    right: 3px;
    height: 38px;
  }

  .amount-button {
    letter-spacing: -1;
    margin-bottom: 0;
  }

  @media screen and (max-width: 480px) {
    .amount-button,
    .currency-symbol-container {
      font-size: 20px;
      line-height: 1.679;
    }
  }

  #amount-other-input {
    line-height: 24px;
    padding-left: 10px;
    padding-right: 5px;
    border: none;
    width: 100%;
    height: 100%;
  }

  input#amount-other + label {
    text-align: initial;
  }
}

html[dir="rtl"] .amount-buttons .amount-other-container {
  .currency-symbol-container {
    float: left;
  }
}
