.currency-dropdown {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin-left: 5px;
  display: inline-block;
  width: 120px;
  vertical-align: top;
  option {
    padding: 0;
  }
}
