.donation-frequency {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  .frequency-radio {
    position: relative;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 115px;
  }
}
.this-really-helps-img {
  display: none;
}

.this-really-helps {
  .this-really-helps-img {
    display: block;
    margin-left: 18px;
  }
}

.flip-frequency,
.this-really-helps {
  .donation-frequency {
    .frequency-radio {
      float: right;
    }
  }
}

.frequency-move-baseline {
  display: block;
}

.frequency-move {
  display: none;
}

.frequency-move-test {
  .frequency-move-baseline {
    display: none;
  }
  .frequency-move {
    display: block;
  }
}
