footer {
  margin-top: 40px;
  background: #fff;
  padding: 40px 10px;
  color: #666;
  font-size: 12px;
  .footer {
    margin: 0 auto;
    width: 700px;
  }
  .half {
    width: 40%;
    margin-right: 30px;
  }
  img {
    max-width: 120px;
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
}
