.submit-button {
  .submit-button-container {
    margin-top: 25px;
  }
  .submit-btn {
    margin-top: 5px;
    margin-bottom: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1.42857;
    padding: 3px 5px 7px;
    -moz-user-select: none;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0;
    &:hover {
      background-color: #ff7b87;
    }
    .fa-cog {
      margin-right: 6px;
    }
  }
}
